@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-[#fff] text-[#1f2937] tracking-wide dark:bg-[#0f172a] text-black dark:text-white font-narrow
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    cursor: pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }
}

.boxTextRed {
  box-shadow: 0 1px 0 0 rgb(255 56 96 / 0%), inset 0 -0.125em 0 rgb(255 56 96 / 20%);
  font-weight: 700;
}

.boxText {
  border-radius: 2px;
  padding: 0 2px 2px;
  position: relative;
  transition-duration: .2s;
  transition-property: box-shadow,color;
}

.boxTextPurple {
  box-shadow: 0 1px 0 0 rgb(217 70 239 / 10%), inset 0 -0.125em 0 rgb(217 70 239 / 10%);
}